<section id="portfolioSection" class="portfolio-section v-gap container" >
    <div class="section-box">
        <div class="titles-container">
            <h2 class="title white">{{'{'}} Portfólio {{'}'}}</h2>
        </div>
        <div class="carousel-container">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let item of carouselItems">
                    <ng-template [id]="item.ID" carouselSlide>
                        <div class="slide animated delay-0-3s">
                            <div class="img" (mouseleave)="currentHoverSlide = null" (mouseover)="currentHoverSlide = item.ID" [ngClass]="{'ng-hover': currentHoverSlide === item.ID}" class="{{'id-' + item.ID}}" [ngStyle]="{'background-image': 'url(/assets/imgs/projects/' + item.ImgURL + ')'}">
                                <div class="img-overlay animated fadeIn" *ngIf="currentHoverSlide === item.ID">
                                    <rhz-button class="btn-slide animated fadeInUp" type="button" [title]="item.Name" [hover]="false" [text]="item.Name" bgColor="#fff" color="#283642"></rhz-button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>