<section class="main-section container">
    <div class="home-titles-wrapper">
        <span data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-easing="ease-in-out" class="description">Olá, me chamo</span>
        <h1 data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500" data-aos-easing="ease-in-out" class="title white">Ricardo Heinze</h1>
        <h2 data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1000" data-aos-easing="ease-in-out" class="description">Desenvolvedor Front End</h2>
        <p data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1500" data-aos-easing="ease-in-out" class="text">Desenvolvedor web especializado na criação de sites responsivos, landing pages, lojas virtuais e e-mail marketings.</p>
    </div>
</section>