<section class="main-section container">
    <div data-aos="fade-in" data-aos-once="true" data-aos-duration="500" data-aos-easing="ease-in-out" class="home-titles-wrapper">
        <span class="description">Olá, me chamo</span>
        <h1 class="title white">Ricardo Heinze</h1>
        <h2 class="description">Desenvolvedor Front End / Mobile</h2>
        <p class="text">Desenvolvedor especializado na criação de sites responsivos, aplicativos (React Native), landing pages, lojas virtuais e e-mail marketings.</p>
    </div>
</section>