<section class="main-section container">
    <div class="home-titles-wrapper">
        <h2 class="description animated delay-0-5s fadeInUp">Olá, me chamo</h2>
        <h1 class="title animated fadeInUp delay-1s white">Ricardo Heinze</h1>
        <h2 class="description animated fadeInUp delay-1-5s">Desenvolvedor Front End</h2>
        <p class="text animated fadeInUp delay-2s">Desenvolvedor web especializado na criação de sites responsivos, landing pages, lojas virtuais e e-mail marketings.</p>
    </div>
</section>