<section id="professionalExperienceSection" class="professional-experience-section v-gap container">
    <div class="section-box" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
        <div class="titles-container">
            <h2 class="title colored">{{'{'}} Experiência {{'}'}}</h2>
            <h3 class="subtitle">Experiências que obtive durante a minha carreira profissional</h3>
        </div>
        <div class="professional-experience-container">
            <ul class="company-list">
                <li class="company marketup" *ngFor="let professionalExperience of professionalExperienceList; index as index">
                    <h4 class="company-title">{{professionalExperience.Company}}</h4>
                    <ul class="experience-list">
                        <li class="experience" *ngFor="let experience of professionalExperience.Experiences">
                            <p class="experience-title">{{experience.Project}}</p>
                            <p class="experience-description">{{experience.Description}}</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>