<section id="profileSection" class="profile-section container v-gap">
    <div class="section-box" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
        <h2 class="title backgroundGradientAnimation colored">{{'{'}} O Desenvolvedor {{'}'}}</h2>
        <h3 class="subtitle">Desenvolvedor Front-end bacharelado em Sistemas de Informação pela Universidade Anhembi
            Morumbi</h3>
        <p class="text">Sou especializado na construção de sistemas web responsivos utilizando HTML5, CSS3, Javascript,
            Typescript e Angular. Já realizei diversos cursos técnicos através das plataformas Alura, Caelumn,
            Rocketseat e Udacity.</p>
        <p class="text">Atuo há dois anos no mercado e estou frequentemente buscando novos
            conhecimentos sobre tecnologia e programação. Já tive a oportunidade de desenvolver diversos tipos de
            sistemas:
            ERP's, Marketplace, Landing Pages, PDV, WhiteLabels, E-mails Promocionais, entre outros.</p>
        <p class="text">Atualmente componho a equipe de desenvolvimento da
            <a class="link" target="_blank" href="https://marketup.com">MarketUP</a>.
        </p>
        <rhz-link href="/assets/files/Curriculum Vitae - Ricardo Heinze.pdf" text="Download CV" icon="print white" download="true"></rhz-link>
    </div>
</section>