<section id="profileSection" class="profile-section container v-gap">
    <div class="section-box" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
        <h2 class="title backgroundGradientAnimation colored">{{'{'}} O Desenvolvedor {{'}'}}</h2>
        <h3 class="subtitle">Desenvolvedor Front-end / Mobile bacharelado em Sistemas de Informação pela Universidade Anhembi
            Morumbi</h3>
        <p class="text">Sou especializado na construção de sistemas web responsivos utilizando HTML5, CSS3, Javascript, Typescript, Angular, React, GraphQL e Next. Tenho domínio no desenvolvimento de aplicações mobile utilizando React Native, Typescript, GraphQL e outras tecnologias. Já realizei diversos cursos técnicos através das plataformas Alura, Caelumn,
            Rocketseat e Udacity.</p>
        <p class="text">Atuo há quatro anos no mercado e estou frequentemente buscando novos
            conhecimentos sobre tecnologia e programação. Já tive a oportunidade de desenvolver diversos tipos de
            sistemas:
            ERP's, Aplicativos bancários e de cartões, Marketplace, Landing pages, PDV, Backoffices, WhiteLabels, E-mails promocionais, Blogs, entre outros.</p>
        <p class="text">Atualmente componho a equipe de desenvolvimento da
            <!-- <a class="link" target="_blank" href="https://www.zak.app/">Zak</a>. -->
            <a class="link" target="_blank" href="https://orbitall.com.br/">Orbitall</a>.
        </p>
        <rhz-link href="/assets/files/Curriculum Vitae - Ricardo Heinze.pdf" text="Download CV" icon="print white" download="true"></rhz-link>
    </div>
</section>