//#region Nunito

@font-face {
    font-family: 'Nunito-Bold';
    src: url(../fonts/nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'Nunito-Light';
    src: url(../fonts/nunito/Nunito-Light.ttf);
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url(../fonts/nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url(../fonts/nunito/Nunito-SemiBold.ttf);
}

//#endregion Nunito

//#region Nunito

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/poppins/Poppins-Bold.ttf);
}


@font-face {
    font-family: 'Poppins-Light';
    src: url(../fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}

//#endregion Nunito

//#region Qwigley
@font-face {
    font-family: 'Qwigley-Regular';
    src: url(../fonts/qwigley/Qwigley-Regular.ttf);
}
//#endregion Qwigley